* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif; 
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

/* Typography */

h1 {
    margin: 0;
    text-align: left;
}

h2 {
    font-size: 1rem;
    text-align: center;
    margin: 2em 0 0 0;
    font-weight: 300;
    letter-spacing: 1px;
}

.title strong {
    display: block;
    color: #5bc0be;
}

.title > p {
    color: #aeadb1;
    font-size: 1rem;
    letter-spacing: 0.75px;
    margin: 0.5rem 0;
    text-align: left;
}

.input-pass-strength,
.password-parameters {
    font-size: 0.9rem;
    color: #aeadb1;
}

/* Layout */

.main-container {
    margin: 0 auto;
    padding: 2em 1.5em;
    background: #0b132b;
    max-width: 500px;
    border: 2px solid #5bc0be;
    border-radius: 15px;
}

.input-pass-strength {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px #808080 solid;
    height: 3em;
    
}

.password-parameters {
    text-align: center;
    padding: 1em;
    border: 1px solid #808080;
}

.pass-param-checkbox {
    margin-top: 1.5em;
}
.pass-param-checkbox > label {
    text-align: center;
    padding: 0.75em;   
}

#input-lentgth {
    padding: 0.25em;
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: -1px;
    vertical-align: middle;
  }

.btn {
    margin-top: 2em;
    background: #6fffe9;
    color: #1c2541;
    cursor: pointer;
    padding: 0.5em 1.25em;
    border-radius: 10px;
    font-weight: 900;
    font-size: 1.25rem;
}

.btn:hover {
    background: #5bc0be;
}

#output {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em auto ;
    width: 75%;
    background: #3a506b;
    color: #5bc0be;
    border: 1px solid #5bc0be;
    border-radius: 5px;
    
}

#output:hover {
    background: #567192;
}
